<#setting number_format = "#"/>
<#assign language = language?default("en_US")/>
<?xml version="1.0" encoding="${encoding}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=${encoding}" />
<link rel="stylesheet" type="text/css" href="${contextPath}/templates/${templateName}/styles/style.css" />
<link rel="stylesheet" type="text/css" href="${contextPath}/templates/${templateName}/styles/${language}.css" />
<script>
	window.addEventListener("DOMContentLoaded", function() {
		var r = document.querySelector(':root');
		r.style.setProperty('--colorOrange', '${colorOrange}');
		r.style.setProperty('--colorDarkBlue', '${colorDarkBlue}');
		r.style.setProperty('--colorVeryLight', '${colorVeryLight}');
		r.style.setProperty('--colorQuiteLight', '${colorQuiteLight}');
		r.style.setProperty('--colorLightGray', '${colorLightGray}');
	}, false);
</script>
<title>Administration - ${moduleName}</title>
</head>
<body>
