<#include "header.htm"/>
<br>
<div class="subject">
	<b>${I18n.getMessage("PasswordRecovery.title")}</b><br>
</div>
<div class="mobilePostText">
<form name="formlostpassword" accept-charset="${encoding}" action="${JForumContext.encodeURL("/jforum")}" method="post" target="_top">
	<input type="hidden" name="module" value="user" />
	<input type="hidden" name="action" value="lostPasswordSend" />
	<input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />

	<span class="gen">${I18n.getMessage("User.emailAddress")}:</span><br>
	<input type="text" maxlength="255" size="35" name="email" />

	<P><b>${I18n.getMessage("or")}</b><P>

	<span class="gen">${I18n.getMessage("Login.user")}:</span><br>
	<input type="text" maxlength="50" size="35" name="username" />

	<p><input class="mainoption" type="submit" value="${I18n.getMessage("ok")}" name="login" />

	<p><span class="gen">${I18n.getMessage("PasswordRecovery.usage")}</span>
 </form>
</div>

<#include "bottom.htm"/>
