<#include "header.htm"/>
<script type="text/javascript">
<#include "../js/utils.js"/>

function validateInfo()
{
	var f = document.formrecover;
	var message = "";
	
	if (f.email.value == "") {
		message = "${I18n.getMessage("User.fillEmail")}";
	}
	else if (f.newPassword.value == "") {
		message = "${I18n.getMessage("User.fillPassword")}";
	}
	else if (f.confirmPassword.value == "") {
		message = "${I18n.getMessage("User.fillPasswordConfirmation")}";
	}
	else if ((f.newPassword.value != f.confirmPassword.value)) {
		message = "${I18n.getMessage("User.passwordNotMatch")}";
	}
	
	if (message != "") {
		alert(message);
		return false;
	}
	
	return true;
}
</script>

<br>
<div class="subject">
	<b>${I18n.getMessage("PasswordRecovery.title")}</b><br>
</div>
<div class="mobilePostText">
<form action="${JForumContext.encodeURL("/jforum")}" method="post" name="formrecover" id="formrecover" onsubmit="return validateInfo()" accept-charset="${encoding}" target="_top">
	<input type="hidden" name="module" value="user" />
	<input type="hidden" name="recoverHash" value="${recoverHash}" />
	<input type="hidden" name="action" value="recoverPasswordValidate" />  
	<input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />

	<span class="gen">${I18n.getMessage("User.emailAddress")}:</span><br>
	<input type="text" maxlength="255" size="25" name="email" /><P>

	<span class="gen">${I18n.getMessage("User.newPassword")}:</span><br>
	<input maxlength="32" size="25" name="newPassword" type="password" autocomplete="off" /><P>

	<span class="gen">${I18n.getMessage("User.confirmPassword")}:</span><br>
	<input maxlength="32" size="25" name="confirmPassword" type="password" autocomplete="off" /><P>

	<input class="mainoption" type="submit" value="${I18n.getMessage("ok")}" name="login" /><P>

	<span class="gen">${I18n.getMessage("PasswordRecovery.finalInstructions")}</span>
 </form>
</div>

<#include "bottom.htm"/>
